{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/b1.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/d1.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Some item name here</a>
                <div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/t1.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Great product name here</a>
                <div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/b2.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/d2.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/t2.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Some item name here</a>
                <div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/b3.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Great product name here</a>
                <div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/d3.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/t3.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/b4.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/d4.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/t4.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/b5.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/d5.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/t5.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/b6.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/d6.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/t6.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/b7.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product-detail' %}" class="img-wrap"> <img src="{% static 'images/items/d7.png' %}"> </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product-detail' %}" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div>
</div> <!-- row.// -->

{% endblock content %}